<main>
  <div class="container px-5 px-sm-0">
    <div id ="error_explanation">
      <% if @book.errors.any? %>
      <h3>
      <%= @book.errors.count %>errors prohibited this obj from being saved:
      </h3>
      <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
      <% end %>
    </div>
    <div class="row">
      <%= render 'books/new', book: @book, user: current_user %>
      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
           <th>
           <%= sort_order "created_at", "新しい順" %>
           </th>
           |
           <th>
           <%= sort_order "rate", "評価の高い順" %>
           </th>
        <table class="table table-hover table-light">
          <thead>
           <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th>Category</th>
            <th colspan="3"></th>
           </tr>
          </thead>

          <tbody>
            <%= render 'books/list', books: @sort %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>