<% if @model == 'book' %>
 <h2>Books search for " <%= @content %> "</h2>

 <table class=table>
   <thead>
     <tr>
       <th></th>
       <th>Title</th>
       <th>Opinion</th>
     </tr>
   </thead>

   <tbody>
     <% @records.each do |book| %>
     <tr>
       <td><%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format:'jpeg', fallback:"noimage.jpg" %></td>
       <td>
         <%= link_to book_path(book) do %>
         <%= book.title %>
         <% end %>
       </td>
       <td><%= book.body %></td>
     <% end %>
     </tr>
   </tbody>

 </table>


 <% else @model == 'user' %>

 <h2>Users search for " <%= @content %> "</h2>


 <table class=table>
   <thead>
     <tr>
       <th></th>
       <th>name</th>
       <th>introduction</th>
     </tr>
   </thead>

   <tbody>
     <% @records.each do |user| %>
     <tr>
       <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format:'jpeg', fallback:"noimage.jpg" %></td>
       <td>
         <%= link_to user_path(user) do %>
         <%= user.name %>
         <% end %>
       </td>
       <td><%= user.introduction %></td>
     <% end %>
     </tr>
   </tbody>

 </table>
 <% end %>

